body {
  background-color: #000;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

.navbar-brand {
  background-image: url('../images/brolarm-logo.png');
  background-size: 191px 42px;
  background-repeat: no-repeat;
  width: 191px;
  height: 42px;
  margin: 10px;
}

.gamer-profile {
  padding: 10px 0px 10px 0px;
  color: #fff;
}

.login-form {
  width: 342px;
  margin: 0 auto;
}

.list-container {
  width: 100%;
}

.list-group-item {
  padding: 10px 0px 10px 0px;
  background: none;
  border: none;
  color: #fff;
}

.friend-item {
  clear: both;
  height: 63px;
}

.avatar-sm {
  width: 32px
  height: 32px;
}

.left {
  display: block;
  float: left;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friend-attribute {
  margin-right: 10px;
}

.gamer-stats {
  position: relative;
  width: 100%;
}

.gamertag-heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.gamertag-nav {
  color: #fff;
  width: 200px;
  margin-top: 0px;
}

.gamer-presence {
  color: #808080;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
  color: #fff;
  background: none;
  border-color: #50b818;
  border-width: 2px;
  border-radius: 0px;
}

.btn.disabled:hover,
.btn.disabled:focus,
.btn.disabled:active,
.btn.disabled.active,
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active,
.btn[disabled].active,
fieldset[disabled] .btn:hover,
fieldset[disabled] .btn:focus,
fieldset[disabled] .btn:active,
fieldset[disabled] .btn.active {
  color: #fff;
  background: none;
  border-color: #333;
  border-width: 2px;
  border-radius: 0px;
}

.form-group {
  margin-top: 20px;
}

.form-control {
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}

#global-nav {
  top: -80px;
}

#xbox-container {
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 554px;
}

#fb-login-form {
  padding-top: 100px;
  width: 342px;
  margin: 0 auto;
}

#fb-login-button {
  margin-top: 20px;
}

#xbox-profile {
  display: none;
}

.spinner-container {
  width: 50px;
  padding-top: 20px;
  margin: 0 auto;
}

#xbox-spinner-container {
  display: none;
}

#friends-spinner-container {
  display: none;
}

/* Spinner */

.waiting-circles{
  padding: 0;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.waiting-circles-element {
  margin: 0 2px 0 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 10px;
  height: 10px;
  display: inline-block;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.waiting-circles-play-0{
  background-color: #9EC45F;
}
.waiting-circles-play-1{
  background-color: #aEd46F;
}
.waiting-circles-play-2{
  background-color: #bEe47F;
}

/* Checkbox */

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}

.css-label{
  background-image:url('../images/checkbox.png');
}
