<!DOCTYPE html>
<html>
  <head>
    <title>Call of Duty Bro-Larm</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='css/ladda-themeless.min.css'>
    <link href='css/bootstrap.min.css' rel='stylesheet' media='screen'>
    <link rel='stylesheet' href='css/brolarm.css'/>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src='js/html5shiv.js'></script>
      <script src='js/respond.min.js'></script>
    <![endif]-->
  </head>
  <body>

    <div id='app'>
      <div id='nav-container'></div>
      <div id='home-container'></div>
      <div id='xbox-container'>
        <div id='xbox-login-container'></div>
        <div id='friends-container'></div>
      </div>
    </div>

    <!-- Templates -->
    <script type='text/template' id='nav-template'>
      <div class='navbar navbar-inverse navbar-fixed-top' id='global-nav'>
        <div class='container'>
          <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='http://www.callofduty.com'></a>
          </div>
          <div class='navbar-collapse collapse'>
            <div class='navbar-form navbar-right'>
              <div class='left friend-attribute'>
                <img id='fb-profile-pic' class='img-rounded' src='<%= avatar %>' width='48' height='48' />
              </div>
              <h5 class='gamertag-nav ellipsis'><%= gamertag %></h5>
              <div>
                <button type='button' class='btn btn-xs' id='xbox-change-button'>CHANGE</button>
                <button type='button' class='btn btn-xs' id='fb-logout-button'>LOGOUT</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script type='text/template' id='home-template'>
      <div class='container'>
        <div id='fb-login-form'>
          <img src='images/brolarm-logo.png' />
          <button class='btn btn-lg btn-block' id='fb-login-button'>LOGIN WITH FACEBOOK</button>
        </div>
      </div>
    </script>

    <script type='text/template' id='xbox-login-template'>
      <div class='login-form' id='xbox-login-form'>
        <img src='images/brolarm-logo.png' />
        <div class='form-group'>
          <input type='text' class='form-control input-lg' id='gamertag' placeholder='Enter Your Gamertag' autofocus>
        </div>
        <button type='button' class='btn btn-lg btn-block' id='gamertag-submit' disabled><span>LINK GAMERTAG</span></button>
      </div>
      <div class='spinner-container' id='xbox-spinner-container'>
        <div id='xbox-spinner'></div>
      </div>
      <div class='gamer-profile' id='xbox-profile'>
        <div class='container'>
          <img src='<%= avatar %>' class='img-rounded pull-left friend-attribute' width='48' height='48' />
          <h3 class='gamertag-heading'><%= gamertag %></h3>
          <p class='gamer-presence ellipsis'><%= presence %></p>
          <button type='button' class='btn btn-xs' id='btn-sign-out'>CHANGE</button>
        </div>
      </div>
    </script>

    <script type='text/template' id='friends-template'>
      <div class='spinner-container' id='friends-spinner-container'>
        <div id='friends-spinner'></div>
      </div>
      <div class='list-container'>
        <ul class='list-group' id='friend-list'></ul>
      </div>
    </script>

    <script type='text/template' id='friend-item-template'>
      <div class='friend-item'>
        <div class='container'>
          <div class='left friend-attribute'>
            <input type='checkbox' class='css-checkbox friend-select' id='<%= gamertag %>' <%= selected ? 'checked="checked"' : '' %> /><label for="<%= gamertag %>" class='css-label'></label>
          </div>
          <div class='left friend-attribute'>
            <img src = '<%= avatar %>' class='img-rounded' width='50' height='50' />
          </div>
          <h4 class='gamertag-heading'><%= gamertag %></h4>
          <p class='gamer-presence'><%= presence %></p>
        </div>
      </div>
    </script>

    <!-- jQuery -->
    <script src='//code.jquery.com/jquery.js' type='text/javascript'></script>

    <!-- Bootstrap -->
    <script src='js/vendor/bootstrap.min.js' type='text/javascript'></script>
    <script src='js/vendor/spin.min.js' type='text/javascript'></script>
    <script src='js/vendor/ladda.min.js' type='text/javascript'></script>
    <script src='js/vendor/jquery-litelighter.js' type='text/javascript'></script>
    <script src='js/vendor/jquery-waiting.js' type='text/javascript'></script>

    <!-- Backbone -->
    <script src='js/vendor/json2.js' type='text/javascript'></script>
    <script src='js/vendor/underscore.js' type='text/javascript'></script>
    <script src='js/vendor/backbone.js' type='text/javascript'></script>
    <script src='js/vendor/backbone.localStorage.js' type='text/javascript'></script>
    <script src='js/vendor/backbone.mutators.min.js' type='text/javascript'></script>

    <!-- Firebase -->
    <script src='https://cdn.firebase.com/v0/firebase.js' type='text/javascript'></script>
    <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'type='text/javascript'></script>
    <script src='js/vendor/backbone-firebase.js' type='text/javascript'></script>

    <!-- Bro-Larm -->
    <script src='js/app/brolarm.js' type='text/javascript'></script>
    <script src='js/app/models/FacebookUserModel.js' type='text/javascript'></script>
    <script src='js/app/models/XboxUserModel.js' type='text/javascript'></script>
    <script src='js/app/models/BroLarmUserModel.js' type='text/javascript'></script>
    <script src='js/app/models/FriendModel.js' type='text/javascript'></script>
    <script src='js/app/collections/FacebookUserCollection.js' type='text/javascript'></script>
    <script src='js/app/collections/XboxUserCollection.js' type='text/javascript'></script>
    <script src='js/app/collections/BroLarmUserCollection.js' type='text/javascript'></script>
    <script src='js/app/collections/FriendCollection.js' type='text/javascript'></script>
    <script src='js/app/models/BroLarmUserManager.js' type='text/javascript'></script>
    <script src='js/app/views/NavView.js' type='text/javascript'></script>
    <script src='js/app/views/HomeView.js' type='text/javascript'></script>
    <script src='js/app/views/XboxLoginView.js' type='text/javascript'></script>
    <script src='js/app/views/FriendItemView.js' type='text/javascript'></script>
    <script src='js/app/views/FriendsView.js' type='text/javascript'></script>
    <script src='js/app/app.js' type='text/javascript'></script>

    <!-- Start the app -->
    <script type='text/javascript'>
      $(function(){
        var app = new brolarm.view.Controller();
      });
    </script>

  </body>
</html>
